* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(14, 0, 25);

    font-family: Ubuntu, Arial;
}

.card {
    display: inline-block;
    margin: 1em;
    width: calc(33.33% - 35px);
    height: calc(50vh - 100px);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    transition: 0.3s;
    opacity: 0.5;
    cursor: pointer;
}

.card:hover {
    opacity: 1;
    box-shadow: 10px 20px 20px -10px rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

img {
    max-width: 100%;
    height: 60%;
    object-fit: contain;
    display: block;
    margin: 10px auto;
}

.description,
.link-style {
    border: 0.1rem solid rgb(240, 221, 255);
    border-radius: 2rem;
    padding: 0.3em;
    box-shadow:
        0 0 .2rem #fff,
        0 0 2rem #bc13fe,
        0 0 0.8rem #bc13fe,
        inset 0 0 1.3rem #bc13fe;
    color: #fff;
    width: 15vw;
    margin: 0 auto;
    text-align: center;
}

.price {
    margin-top: 10px;
    text-align: center;
    color: #fff;
    text-shadow:
        0 0 5px #1fff,
        0 0 10px #1fff,
        0 0 20px #1fff,
        0 0 40px #55ff,
        0 0 80px #55ff,
        0 0 90px #55ff,
        0 0 100px #55ff,
        0 0 150px #55ff;
}

.f-link {
    margin: 10px auto;
    display: block;
    text-align: center;
}

.float {
    display: inline-block;
    margin: 1em;
    width: calc(33.33% - 35px);
    height: calc(50vh - 100px);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    transition: 0.3s;
    opacity: 0.5;
    cursor: pointer;
}

.float:hover {
    opacity: 1;
    box-shadow: 10px 20px 20px -10px rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}